<!DOCTYPE html>
<html>
<head>
  <title>Batmandrawing</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<div class='footer mainwidth'>
  made by <a href='http://isicle.wordpress.com/' class='sitelink'>Vincent Chu</a>
</div>

</div>
</body>
</html>
